# üìç Îç∞Ïù¥ÌÑ∞Ï∂îÍ∞Ä
### ‚úÖ ÏóëÏÖÄÎ°ú Ïó¥Í∏∞
: ```pd.read_excel('ÌååÏùºÎ™Ö.xlsx', index_col='column')```

In [1]:
import pandas as pd

df = pd.read_excel('score.xlsx', index_col='ÏßÄÏõêÎ≤àÌò∏') # index ÏÑ§Ï†ï
df

       Ïù¥Î¶Ñ   ÌïôÍµê    ÌÇ§   Íµ≠Ïñ¥   ÏòÅÏñ¥   ÏàòÌïô  Í≥ºÌïô  ÏÇ¨Ìöå        SWÌäπÍ∏∞
ÏßÄÏõêÎ≤àÌò∏
1Î≤à    Ï±ÑÏπòÏàò  Î∂ÅÏÇ∞Í≥†  197   90   85  100  95  85      Python
2Î≤à    Ï†ïÎåÄÎßå  Î∂ÅÏÇ∞Í≥†  184   40   35   50  55  25        Java
3Î≤à    ÏÜ°ÌÉúÏÑ≠  Î∂ÅÏÇ∞Í≥†  168   80   75   70  80  75  Javascript
4Î≤à    ÏÑúÌÉúÏõÖ  Î∂ÅÏÇ∞Í≥†  187   40   60   70  75  80         NaN
5Î≤à    Í∞ïÎ∞±Ìò∏  Î∂ÅÏÇ∞Í≥†  188   15   20   10  35  10         NaN
6Î≤à    Î≥ÄÎçïÍ∑ú  Îä•ÎÇ®Í≥†  202   80  100   95  85  80           C
7Î≤à    Ìô©ÌÉúÏÇ∞  Îä•ÎÇ®Í≥†  188   55   65   45  40  35      PYTHON
8Î≤à    Ïú§ÎåÄÌòë  Îä•ÎÇ®Í≥†  190  100   85   90  95  95          C#

### ‚úÖ Row Ï∂îÍ∞Ä
: ```df.loc['index']=[list]```

In [2]:
df.loc['9Î≤à'] = ['Ïù¥Ï†ïÌôò', 'Ìï¥ÎÇ®Í≥†', 184, 90, 90, 90, 90, 90, 'Kotlin']
df

       Ïù¥Î¶Ñ   ÌïôÍµê    ÌÇ§   Íµ≠Ïñ¥   ÏòÅÏñ¥   ÏàòÌïô  Í≥ºÌïô  ÏÇ¨Ìöå        SWÌäπÍ∏∞
ÏßÄÏõêÎ≤àÌò∏
1Î≤à    Ï±ÑÏπòÏàò  Î∂ÅÏÇ∞Í≥†  197   90   85  100  95  85      Python
2Î≤à    Ï†ïÎåÄÎßå  Î∂ÅÏÇ∞Í≥†  184   40   35   50  55  25        Java
3Î≤à    ÏÜ°ÌÉúÏÑ≠  Î∂ÅÏÇ∞Í≥†  168   80   75   70  80  75  Javascript
4Î≤à    ÏÑúÌÉúÏõÖ  Î∂ÅÏÇ∞Í≥†  187   40   60   70  75  80         NaN
5Î≤à    Í∞ïÎ∞±Ìò∏  Î∂ÅÏÇ∞Í≥†  188   15   20   10  35  10         NaN
6Î≤à    Î≥ÄÎçïÍ∑ú  Îä•ÎÇ®Í≥†  202   80  100   95  85  80           C
7Î≤à    Ìô©ÌÉúÏÇ∞  Îä•ÎÇ®Í≥†  188   55   65   45  40  35      PYTHON
8Î≤à    Ïú§ÎåÄÌòë  Îä•ÎÇ®Í≥†  190  100   85   90  95  95          C#
9Î≤à    Ïù¥Ï†ïÌôò  Ìï¥ÎÇ®Í≥†  184   90   90   90  90  90      Kotlin

### ‚úÖ Column Ï∂îÍ∞Ä
: ```df['new_column']=data```

In [3]:
df['Ï¥ùÌï©'] = df['Íµ≠Ïñ¥'] + df['ÏòÅÏñ¥'] + df['ÏàòÌïô'] + df['Í≥ºÌïô'] + df['ÏÇ¨Ìöå']
df

       Ïù¥Î¶Ñ   ÌïôÍµê    ÌÇ§   Íµ≠Ïñ¥   ÏòÅÏñ¥   ÏàòÌïô  Í≥ºÌïô  ÏÇ¨Ìöå        SWÌäπÍ∏∞   Ï¥ùÌï©
ÏßÄÏõêÎ≤àÌò∏
1Î≤à    Ï±ÑÏπòÏàò  Î∂ÅÏÇ∞Í≥†  197   90   85  100  95  85      Python  455
2Î≤à    Ï†ïÎåÄÎßå  Î∂ÅÏÇ∞Í≥†  184   40   35   50  55  25        Java  205
3Î≤à    ÏÜ°ÌÉúÏÑ≠  Î∂ÅÏÇ∞Í≥†  168   80   75   70  80  75  Javascript  380
4Î≤à    ÏÑúÌÉúÏõÖ  Î∂ÅÏÇ∞Í≥†  187   40   60   70  75  80         NaN  325
5Î≤à    Í∞ïÎ∞±Ìò∏  Î∂ÅÏÇ∞Í≥†  188   15   20   10  35  10         NaN   90
6Î≤à    Î≥ÄÎçïÍ∑ú  Îä•ÎÇ®Í≥†  202   80  100   95  85  80           C  440
7Î≤à    Ìô©ÌÉúÏÇ∞  Îä•ÎÇ®Í≥†  188   55   65   45  40  35      PYTHON  240
8Î≤à    Ïú§ÎåÄÌòë  Îä•ÎÇ®Í≥†  190  100   85   90  95  95          C#  465
9Î≤à    Ïù¥Ï†ïÌôò  Ìï¥ÎÇ®Í≥†  184   90   90   90  90  90      Kotlin  450

In [4]:
df['Í≤∞Í≥º'] = 'Fail'
df

       Ïù¥Î¶Ñ   ÌïôÍµê    ÌÇ§   Íµ≠Ïñ¥   ÏòÅÏñ¥   ÏàòÌïô  Í≥ºÌïô  ÏÇ¨Ìöå        SWÌäπÍ∏∞   Ï¥ùÌï©    Í≤∞Í≥º
ÏßÄÏõêÎ≤àÌò∏
1Î≤à    Ï±ÑÏπòÏàò  Î∂ÅÏÇ∞Í≥†  197   90   85  100  95  85      Python  455  Fail
2Î≤à    Ï†ïÎåÄÎßå  Î∂ÅÏÇ∞Í≥†  184   40   35   50  55  25        Java  205  Fail
3Î≤à    ÏÜ°ÌÉúÏÑ≠  Î∂ÅÏÇ∞Í≥†  168   80   75   70  80  75  Javascript  380  Fail
4Î≤à    ÏÑúÌÉúÏõÖ  Î∂ÅÏÇ∞Í≥†  187   40   60   70  75  80         NaN  325  Fail
5Î≤à    Í∞ïÎ∞±Ìò∏  Î∂ÅÏÇ∞Í≥†  188   15   20   10  35  10         NaN   90  Fail
6Î≤à    Î≥ÄÎçïÍ∑ú  Îä•ÎÇ®Í≥†  202   80  100   95  85  80           C  440  Fail
7Î≤à    Ìô©ÌÉúÏÇ∞  Îä•ÎÇ®Í≥†  188   55   65   45  40  35      PYTHON  240  Fail
8Î≤à    Ïú§ÎåÄÌòë  Îä•ÎÇ®Í≥†  190  100   85   90  95  95          C#  465  Fail
9Î≤à    Ïù¥Ï†ïÌôò  Ìï¥ÎÇ®Í≥†  184   90   90   90  90  90      Kotlin  450  Fail

### ‚úÖ Ï°∞Í±¥, Îç∞Ïù¥ÌÑ∞ÏàòÏ†ï ÏùëÏö©

In [5]:
df.loc[df['Ï¥ùÌï©'] > 400, 'Í≤∞Í≥º'] = 'Pass' # Ï¥ùÌï©Ïù¥ 400Î≥¥Îã§ ÌÅ∞ Îç∞Ïù¥ÌÑ∞Ïóê ÎåÄÌï¥ÏÑú Í≤∞Í≥ºÎ•º PassÎ°ú ÏóÖÎç∞Ïù¥Ìä∏
df

       Ïù¥Î¶Ñ   ÌïôÍµê    ÌÇ§   Íµ≠Ïñ¥   ÏòÅÏñ¥   ÏàòÌïô  Í≥ºÌïô  ÏÇ¨Ìöå        SWÌäπÍ∏∞   Ï¥ùÌï©    Í≤∞Í≥º
ÏßÄÏõêÎ≤àÌò∏
1Î≤à    Ï±ÑÏπòÏàò  Î∂ÅÏÇ∞Í≥†  197   90   85  100  95  85      Python  455  Pass
2Î≤à    Ï†ïÎåÄÎßå  Î∂ÅÏÇ∞Í≥†  184   40   35   50  55  25        Java  205  Fail
3Î≤à    ÏÜ°ÌÉúÏÑ≠  Î∂ÅÏÇ∞Í≥†  168   80   75   70  80  75  Javascript  380  Fail
4Î≤à    ÏÑúÌÉúÏõÖ  Î∂ÅÏÇ∞Í≥†  187   40   60   70  75  80         NaN  325  Fail
5Î≤à    Í∞ïÎ∞±Ìò∏  Î∂ÅÏÇ∞Í≥†  188   15   20   10  35  10         NaN   90  Fail
6Î≤à    Î≥ÄÎçïÍ∑ú  Îä•ÎÇ®Í≥†  202   80  100   95  85  80           C  440  Pass
7Î≤à    Ìô©ÌÉúÏÇ∞  Îä•ÎÇ®Í≥†  188   55   65   45  40  35      PYTHON  240  Fail
8Î≤à    Ïú§ÎåÄÌòë  Îä•ÎÇ®Í≥†  190  100   85   90  95  95          C#  465  Pass
9Î≤à    Ïù¥Ï†ïÌôò  Ìï¥ÎÇ®Í≥†  184   90   90   90  90  90      Kotlin  450  Pass

# üìç datetime(ÎÇ†Ïßú, ÏãúÍ∞Ñ)
### ‚úÖ date_range
: ```pd.date_range(start, end, periods, freq)```
- start : ÏãúÏûëÎÇ†Ïßú
- end : ÎÅùÎÇ†Ïßú
- periods : ÏÉùÏÑ±Ìï† Îç∞Ïù¥ÌÑ∞ Í∞úÏàò
- freq : Ï£ºÍ∏∞

In [6]:
dates = pd.date_range('20240101', periods=df.shape[0], freq='15H')
df['date'] = dates
df

,Ïù¥Î¶Ñ,ÌïôÍµê,ÌÇ§,Íµ≠Ïñ¥,ÏòÅÏñ¥,ÏàòÌïô,Í≥ºÌïô,ÏÇ¨Ìöå,SWÌäπÍ∏∞,Ï¥ùÌï©,Í≤∞Í≥º,date
ÏßÄÏõêÎ≤àÌò∏,,,,,,,,,,,,
1Î≤à,Ï±ÑÏπòÏàò,Î∂ÅÏÇ∞Í≥†,197,90,85,100,95,85,Python,455,Pass,2024-01-01 00:00:00
2Î≤à,Ï†ïÎåÄÎßå,Î∂ÅÏÇ∞Í≥†,184,40,35,50,55,25,Java,205,Fail,2024-01-01 15:00:00
3Î≤à,ÏÜ°ÌÉúÏÑ≠,Î∂ÅÏÇ∞Í≥†,168,80,75,70,80,75,Javascript,380,Fail,2024-01-02 06:00:00
4Î≤à,ÏÑúÌÉúÏõÖ,Î∂ÅÏÇ∞Í≥†,187,40,60,70,75,80,NaN,325,Fail,2024-01-02 21:00:00
5Î≤à,Í∞ïÎ∞±Ìò∏,Î∂ÅÏÇ∞Í≥†,188,15,20,10,35,10,NaN,90,Fail,2024-01-03 12:00:00
6Î≤à,Î≥ÄÎçïÍ∑ú,Îä•ÎÇ®Í≥†,202,80,100,95,85,80,C,440,Pass,2024-01-04 03:00:00
7Î≤à,Ìô©ÌÉúÏÇ∞,Îä•ÎÇ®Í≥†,188,55,65,45,40,35,PYTHON,240,Fail,2024-01-04 18:00:00
8Î≤à,Ïú§ÎåÄÌòë,Îä•ÎÇ®Í≥†,190,100,85,90,95,95,C#,465,Pass,2024-01-05 09:00:00
9Î≤à,Ïù¥Ï†ïÌôò,Ìï¥ÎÇ®Í≥†,184,90,90,90,90,90,Kotlin,450,Pass,2024-01-06 00:00:00

In [7]:
df['date'].info()

<class 'pandas.core.series.Series'>
Index: 9 entries, 1Î≤à to 9Î≤à
Series name: date
Non-Null Count  Dtype
--------------  -----
9 non-null      datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 144.0+ bytes

### ‚úÖ datetime type
: dtÏ†ëÍ∑ºÏûêÎ°ú ÏïÑÎûòÏùò ÎÇ†ÏßúÏÜçÏÑ±Ïóê Ï†ëÍ∑º Í∞ÄÎä•
- pd.Series.dt.year: Ïó∞ÎèÑ
- pd.Series.dt.month: Ïõî
- pd.Series.dt.day: Ïùº
- pd.Series.dt.hour: Ïãú
- pd.Series.dt.minute: Î∂Ñ
- pd.Series.dt.second: Ï¥à
- pd.Series.dt.microsecond: micro Ï¥à
- pd.Series.dt.nanosecond: nano Ï¥à
- pd.Series.dt.week: Ï£º
- pd.Series.dt.weekofyear: Ïó∞Ï§ë Î™á Ïß∏Ï£º
- pd.Series.dt.dayofweek: ÏöîÏùº (ÏõîÏöîÏùº 0, ÏùºÏöîÏùº 6)
- pd.Series.dt.weekday: ÏöîÏùº (dayofweekÍ≥º ÎèôÏùº)
- pd.Series.dt.dayofyear: Ïó∞Ï§ë Î™á Î≤àÏß∏ ÎÇ†
- pd.Series.dt.quarter: Î∂ÑÍ∏∞

In [8]:
df['date'].dt.year.head()

ÏßÄÏõêÎ≤àÌò∏
1Î≤à    2024
2Î≤à    2024
3Î≤à    2024
4Î≤à    2024
5Î≤à    2024
Name: date, dtype: int32

In [9]:
df['date'].dt.dayofweek.head()

ÏßÄÏõêÎ≤àÌò∏
1Î≤à    0
2Î≤à    0
3Î≤à    1
4Î≤à    1
5Î≤à    2
Name: date, dtype: int32

### ‚úÖ datetime type Î≥ÄÌôò
: ```pd.to_datetime(df['column'])```

In [10]:
df = pd.read_csv('seoul_bicycle.csv')
df.head()

,ÎåÄÏó¨ÏùºÏûê,ÎåÄÏó¨ÏÜåÎ≤àÌò∏,ÎåÄÏó¨ÏÜåÎ™Ö,ÎåÄÏó¨Íµ¨Î∂ÑÏΩîÎìú,ÏÑ±Î≥Ñ,Ïó∞Î†πÎåÄÏΩîÎìú,Ïù¥Ïö©Í±¥Ïàò,Ïö¥ÎèôÎüâ,ÌÉÑÏÜåÎüâ,Ïù¥ÎèôÍ±∞Î¶¨,Ïù¥Ïö©ÏãúÍ∞Ñ
0,Jan-20-2020,3,Ï§ëÎûëÏÑºÌÑ∞,ÏùºÏùº(ÌöåÏõê),M,AGE_003,3,61.82,0.52,2230.0,75
1,Jan-20-2020,3,Ï§ëÎûëÏÑºÌÑ∞,ÏùºÏùº(ÌöåÏõê),M,AGE_004,1,39.62,0.28,1220.0,15
2,Jan-20-2020,3,Ï§ëÎûëÏÑºÌÑ∞,Ï†ïÍ∏∞,M,AGE_005,3,430.85,4.01,17270.0,53
3,Jan-20-2020,5,ÏÉÅÏïîÏÑºÌÑ∞ Ï†ïÎπÑÏã§,ÏùºÏùº(ÌöåÏõê),\N,AGE_005,2,1.79,0.02,90.0,33
4,Jan-20-2020,5,ÏÉÅÏïîÏÑºÌÑ∞ Ï†ïÎπÑÏã§,Ï†ïÍ∏∞,F,AGE_003,1,4501.96,45.47,196010.0,64

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 327231 entries, 0 to 327230
Data columns (total 11 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   ÎåÄÏó¨ÏùºÏûê    327231 non-null  object
 1   ÎåÄÏó¨ÏÜåÎ≤àÌò∏   327231 non-null  int64
 2   ÎåÄÏó¨ÏÜåÎ™Ö    327231 non-null  object
 3   ÎåÄÏó¨Íµ¨Î∂ÑÏΩîÎìú  327231 non-null  object
 4   ÏÑ±Î≥Ñ      272841 non-null  object
 5   Ïó∞Î†πÎåÄÏΩîÎìú   327231 non-null  object
 6   Ïù¥Ïö©Í±¥Ïàò    327231 non-null  int64
 7   Ïö¥ÎèôÎüâ     327231 non-null  object
 8   ÌÉÑÏÜåÎüâ     327231 non-null  object
 9   Ïù¥ÎèôÍ±∞Î¶¨    327231 non-null  float64
 10  Ïù¥Ïö©ÏãúÍ∞Ñ    327231 non-null  int64
dtypes: float64(1), int64(3), object(7)
memory usage: 27.5+ MB

In [12]:
# ÎåÄÏó¨ÏùºÏûê Ïª¨ÎüºÏùÄ object ÌÉÄÏûÖÏù¥ÎØÄÎ°ú datetimeÌÉÄÏûÖÏúºÎ°ú Î≥ÄÍ≤ΩÌï¥Ïïº .dt Ï†ëÍ∑ºÏûê ÏÇ¨Ïö© Í∞ÄÎä•
df['ÎåÄÏó¨ÏùºÏûê'] = pd.to_datetime(df['ÎåÄÏó¨ÏùºÏûê'])
df['ÎåÄÏó¨ÏùºÏûê'].dt.year.head()

0    2020
1    2020
2    2020
3    2020
4    2020
Name: ÎåÄÏó¨ÏùºÏûê, dtype: int32

# üìç Îç∞Ïù¥ÌÑ∞ÏÇ≠Ï†ú
### ‚úÖ Column ÏÇ≠Ï†ú
: ```df.drop(columns=[column_list])```

In [13]:
df = pd.read_excel('score.xlsx', index_col='ÏßÄÏõêÎ≤àÌò∏')
df.drop(columns=['SWÌäπÍ∏∞']) # SWÌäπÍ∏∞ columnÏùÑ ÏÇ≠Ï†ú

       Ïù¥Î¶Ñ   ÌïôÍµê    ÌÇ§   Íµ≠Ïñ¥   ÏòÅÏñ¥   ÏàòÌïô  Í≥ºÌïô  ÏÇ¨Ìöå
ÏßÄÏõêÎ≤àÌò∏
1Î≤à    Ï±ÑÏπòÏàò  Î∂ÅÏÇ∞Í≥†  197   90   85  100  95  85
2Î≤à    Ï†ïÎåÄÎßå  Î∂ÅÏÇ∞Í≥†  184   40   35   50  55  25
3Î≤à    ÏÜ°ÌÉúÏÑ≠  Î∂ÅÏÇ∞Í≥†  168   80   75   70  80  75
4Î≤à    ÏÑúÌÉúÏõÖ  Î∂ÅÏÇ∞Í≥†  187   40   60   70  75  80
5Î≤à    Í∞ïÎ∞±Ìò∏  Î∂ÅÏÇ∞Í≥†  188   15   20   10  35  10
6Î≤à    Î≥ÄÎçïÍ∑ú  Îä•ÎÇ®Í≥†  202   80  100   95  85  80
7Î≤à    Ìô©ÌÉúÏÇ∞  Îä•ÎÇ®Í≥†  188   55   65   45  40  35
8Î≤à    Ïú§ÎåÄÌòë  Îä•ÎÇ®Í≥†  190  100   85   90  95  95

In [14]:
df.drop(columns=['Íµ≠Ïñ¥', 'ÏòÅÏñ¥', 'ÏàòÌïô'], inplace=True)
df

       Ïù¥Î¶Ñ   ÌïôÍµê    ÌÇ§  Í≥ºÌïô  ÏÇ¨Ìöå        SWÌäπÍ∏∞
ÏßÄÏõêÎ≤àÌò∏
1Î≤à    Ï±ÑÏπòÏàò  Î∂ÅÏÇ∞Í≥†  197  95  85      Python
2Î≤à    Ï†ïÎåÄÎßå  Î∂ÅÏÇ∞Í≥†  184  55  25        Java
3Î≤à    ÏÜ°ÌÉúÏÑ≠  Î∂ÅÏÇ∞Í≥†  168  80  75  Javascript
4Î≤à    ÏÑúÌÉúÏõÖ  Î∂ÅÏÇ∞Í≥†  187  75  80         NaN
5Î≤à    Í∞ïÎ∞±Ìò∏  Î∂ÅÏÇ∞Í≥†  188  35  10         NaN
6Î≤à    Î≥ÄÎçïÍ∑ú  Îä•ÎÇ®Í≥†  202  85  80           C
7Î≤à    Ìô©ÌÉúÏÇ∞  Îä•ÎÇ®Í≥†  188  40  35      PYTHON
8Î≤à    Ïú§ÎåÄÌòë  Îä•ÎÇ®Í≥†  190  95  95          C#

: ```df.drop([column_list], axis=1)```

In [15]:
df.drop('SWÌäπÍ∏∞', axis=1)

       Ïù¥Î¶Ñ   ÌïôÍµê    ÌÇ§  Í≥ºÌïô  ÏÇ¨Ìöå
ÏßÄÏõêÎ≤àÌò∏
1Î≤à    Ï±ÑÏπòÏàò  Î∂ÅÏÇ∞Í≥†  197  95  85
2Î≤à    Ï†ïÎåÄÎßå  Î∂ÅÏÇ∞Í≥†  184  55  25
3Î≤à    ÏÜ°ÌÉúÏÑ≠  Î∂ÅÏÇ∞Í≥†  168  80  75
4Î≤à    ÏÑúÌÉúÏõÖ  Î∂ÅÏÇ∞Í≥†  187  75  80
5Î≤à    Í∞ïÎ∞±Ìò∏  Î∂ÅÏÇ∞Í≥†  188  35  10
6Î≤à    Î≥ÄÎçïÍ∑ú  Îä•ÎÇ®Í≥†  202  85  80
7Î≤à    Ìô©ÌÉúÏÇ∞  Îä•ÎÇ®Í≥†  188  40  35
8Î≤à    Ïú§ÎåÄÌòë  Îä•ÎÇ®Í≥†  190  95  95

### ‚úÖ Row ÏÇ≠Ï†ú
: ```df.drop(index=[row_list])```

In [16]:
df.drop(index='4Î≤à') # 4Î≤à ÌïôÏÉù rowÎ•º ÏÇ≠Ï†ú

       Ïù¥Î¶Ñ   ÌïôÍµê    ÌÇ§  Í≥ºÌïô  ÏÇ¨Ìöå        SWÌäπÍ∏∞
ÏßÄÏõêÎ≤àÌò∏
1Î≤à    Ï±ÑÏπòÏàò  Î∂ÅÏÇ∞Í≥†  197  95  85      Python
2Î≤à    Ï†ïÎåÄÎßå  Î∂ÅÏÇ∞Í≥†  184  55  25        Java
3Î≤à    ÏÜ°ÌÉúÏÑ≠  Î∂ÅÏÇ∞Í≥†  168  80  75  Javascript
5Î≤à    Í∞ïÎ∞±Ìò∏  Î∂ÅÏÇ∞Í≥†  188  35  10         NaN
6Î≤à    Î≥ÄÎçïÍ∑ú  Îä•ÎÇ®Í≥†  202  85  80           C
7Î≤à    Ìô©ÌÉúÏÇ∞  Îä•ÎÇ®Í≥†  188  40  35      PYTHON
8Î≤à    Ïú§ÎåÄÌòë  Îä•ÎÇ®Í≥†  190  95  95          C#

In [17]:
df = pd.read_excel('score.xlsx', index_col='ÏßÄÏõêÎ≤àÌò∏')
filt = df['ÏàòÌïô'] < 80 # ÏàòÌïôÏ†êÏàò 80Ï†êÎØ∏Îßå ÌïôÏÉù ÌïÑÌÑ∞ÎßÅ
df[filt]

       Ïù¥Î¶Ñ   ÌïôÍµê    ÌÇ§  Íµ≠Ïñ¥  ÏòÅÏñ¥  ÏàòÌïô  Í≥ºÌïô  ÏÇ¨Ìöå        SWÌäπÍ∏∞
ÏßÄÏõêÎ≤àÌò∏
2Î≤à    Ï†ïÎåÄÎßå  Î∂ÅÏÇ∞Í≥†  184  40  35  50  55  25        Java
3Î≤à    ÏÜ°ÌÉúÏÑ≠  Î∂ÅÏÇ∞Í≥†  168  80  75  70  80  75  Javascript
4Î≤à    ÏÑúÌÉúÏõÖ  Î∂ÅÏÇ∞Í≥†  187  40  60  70  75  80         NaN
5Î≤à    Í∞ïÎ∞±Ìò∏  Î∂ÅÏÇ∞Í≥†  188  15  20  10  35  10         NaN
7Î≤à    Ìô©ÌÉúÏÇ∞  Îä•ÎÇ®Í≥†  188  55  65  45  40  35      PYTHON

In [18]:
df[filt].index

Index(['2Î≤à', '3Î≤à', '4Î≤à', '5Î≤à', '7Î≤à'], dtype='object', name='ÏßÄÏõêÎ≤àÌò∏')

In [19]:
df.drop(index=df[filt].index) # ÏàòÌïôÏ†êÏàò 80Ï†ê ÎØ∏ÎßåÏù∏ ÌïôÏÉù ÏÇ≠Ï†ú

       Ïù¥Î¶Ñ   ÌïôÍµê    ÌÇ§   Íµ≠Ïñ¥   ÏòÅÏñ¥   ÏàòÌïô  Í≥ºÌïô  ÏÇ¨Ìöå    SWÌäπÍ∏∞
ÏßÄÏõêÎ≤àÌò∏
1Î≤à    Ï±ÑÏπòÏàò  Î∂ÅÏÇ∞Í≥†  197   90   85  100  95  85  Python
6Î≤à    Î≥ÄÎçïÍ∑ú  Îä•ÎÇ®Í≥†  202   80  100   95  85  80       C
8Î≤à    Ïú§ÎåÄÌòë  Îä•ÎÇ®Í≥†  190  100   85   90  95  95      C#